*{margin:0;
padding:0;}
body{width: 100%;
height: 100%;
min-width: 700px;
min-height: 700px;
	background: white;
	font-family: 'Open Sans', sans-serif;
	
	
background-image:url('../images/background.jpg');
	background-repeat: no-repeat;
	background-position: 0px 0px; 

background-attachment: fixed;

}

p{font-family: 'Courgette', cursive;
font-size: 20px;
 }

.header{
    
	margin:0 auto; background-color: transparent;
	
}

.header img {margin-top: 20px;
margin-left: 60px;}
header{margin-bottom: 40px;}
header nav{

	float:right;
    margin-top: 70px;
    margin-right: 40px;

         }
header nav a{
margin-right: 30px;
text-decoration: none;
color: black;
}
header nav a:hover{color: red;}

article p{
	
  
	margin :20px; 
}
article{
	
	background-color: transparent;
    margin: 0 auto;
    float:right;
    max-width:1000px;
    max-width: 70%;
margin-right: 80px;
margin-bottom: 40px;
}
aside{
	float:left;
   margin:0 auto;
   margin-top: 40px;
   margin-left: 60px;
   max-width: 25%;
   float:left;

}



aside img{

    border-radius: 50%;
}

footer{
	clear:both;
	margin:0 auto;
	text-align: center;
	background-color: white;
	
	padding-top: 30px;
	padding-bottom: 20px;
}




     
	